.App {
  text-align: center;
}
.Header {
  letter-spacing: 3px;
  color: black;
  text-shadow:
  -2px -2px 0 #FFE81F,  
   2px -2px 0 #FFE81F,
   -2px 2px 0 #FFE81F,
    2px 2px 0 #FFE81F;
  font-size: 60px
}
/* write your parent styles in here for your App.js */

.data-cont {
  background: transparent;
  width: 80%;
  margin: 20px auto;
  border: 5px solid #FFE81F;
  border-radius: 10px;
  padding: 15px;
  color: white;
}

.data-format {
  text-align: left;
}

.home-cont {
  border-top: 1px solid #FFE81F;
}

.home-cont h2 {
  letter-spacing: 3px;
  text-align: center;
  color: black;
  text-shadow:
  -1px -1px 0 #FFE81F,  
   1px -1px 0 #FFE81F,
   -1px 1px 0 #FFE81F,
    1px 1px 0 #FFE81F;
  font-size: 30px
}

@media (max-width: 800px) {
  .data-cont {
    width: 90%;
  }
}

.data-cont h2 {
  letter-spacing: 3px;
  color: black;
  text-shadow:
  -1px -1px 0 #FFE81F,  
  1px -1px 0 #FFE81F,
  -1px 1px 0 #FFE81F,
    1px 1px 0 #FFE81F;
  font-size: 30px
}

button {
  margin: 20px;
  width: 30%;
  border: 2px solid #FFE81F;
  background: black;
  color: white;
  height: 40px;
  font-size: 25px;
  transition: 1s;
}

button:hover {
  background: white;
  color: black;
  font-weight: bold;
}